@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-gray-100;
  }
  input,
  select,
  textarea {
    @apply bg-gray-800 border-gray-700 text-gray-100 placeholder-gray-500;
  }
}
